# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

将删除 data structure/cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/tmp/
将删除 data structure/cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/tmp/
将删除 data structure/cmake-build-debug/CMakeFiles/CMakeTmp/
将删除 data structure/cmake-build-debug/CMakeFiles/array.dir/array/
将删除 data structure/cmake-build-debug/CMakeFiles/array.dir/home/
